html,
body {
  font-family: "Courier New";
  height: 100%;
}

.container {
  background-color: black;
  width: 1000px;
  height: 500px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 15px;
}

.content {
  display: flex;
  height: 450px;
  margin: 20px;
  background-color: #C4C4C4;
  border: 2px solid black;
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.hour,
.minute,
.second {
  height: 430px;
  width: 280px;
  margin: 20px;
  background-color: ghostwhite;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  line-height: 430px;
  font-size: 200px;
}

.buttons {
  display: flex;
  width: 1000px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.btn-on {
  font-size: 25px;
  font-family: "Monaco";
  width: 100px;
  border: 4px solid black;
}
