.bg {
  height: 100%;
  background-image: url("yono.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Monaco";
}

.num {
  display: flex;
  margin: auto;
  background-color: lightblue;
  width: 300px;
  height: 300px;
  border: 13px;
  border-style: outset;
  justify-content: center;
  align-items: center;
  font-family: "Monaco";
  font-size: 200px;

}

.btn-global {
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  justify-content: space-evenly;
}

#btn-1 {
  font-size: 15px;
  font-family: "Monaco";
  color: white;
  background-color: green;
  border: 4px;
  border-style: outset;
}

#btn-2 {
  font-size: 15px;
  font-family: "Monaco";
  color: black;
  background-color: lightgreen;
  border: 4px;
  border-style: outset;
}

#btn-3 {
  font-size: 15px;
  font-family: "Monaco";
  color: black;
  background-color: lightpink;
  border: 4px;
  border-style: outset;
}
.cont-reset {
  text-align: center;
  font-size: 20px;
  font-family: "Monaco";
  color : red;
}
